NODE_ENV=development

PORT=4000

DATABASE_URL=postgres://bobmess_user:bobmess_password@localhost:5432/bobmess_db

JWT_SECRET=change_this_secret_for_production
JWT_EXPIRES_IN=7d

CLIENT_ORIGINS=http://localhost:5500,http://localhost:3001,http://127.0.0.1:3001